:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: hsla(200, 80%, 75%, 1);
    --secondary-color: hsla(40, 100%, 50%, 0.75);
    --background: hsla(200, 80%, 75%, 0.35);
    --accent: hsla(200, 80%, 75%, 1);
    --secondary-accent: hsla(200, 200%, 70%, 1);
    --header: var(--primary-color);
    --error-color: rgba(194, 0, 0, 0.71);
    --background-dialog: hsla(0, 0%, 100%, 0.8);
    --new-accent: #1f2d38;

}

body {
    overflow: hidden;
}

main {
    margin-top: 0.5rem;
    padding-top: 0;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.nav {
    box-shadow: rgb(23, 98, 148) inset 10px 5px 10px,
    rgb(23, 98, 148) 2px 2px 2px;
    border: 1px solid black;
    padding: 0.25rem 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    background-color: var(--background);
}

.nav > ul > li > *,
.nav > ul > li {
    margin: 0;
    padding: 0.3rem;
    text-align: center;
}

.navBtnGroup {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 0.4rem 1rem 0.4rem 0.3rem;
}

.btn-group {
    display: flex;
    gap: 0.5rem;
    padding: 0.4rem 0.3rem;
    align-items: stretch;
    text-align: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
}

.btn-group > ul > li {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0.3rem;
    text-align: center;
}

.btnGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: min-content;
    width: min-content;
}

.hero {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.25;
}

.card {
    box-shadow: rgb(23, 98, 148) inset 5px 5px 5px,
    rgb(23, 98, 148) 2px 2px 2px;
    border: 1px solid black;
    padding: 0;
    border-radius: 15px;
    margin-bottom: 1rem;
    background-color: var(--background);
}

.content-section {
    box-shadow: rgb(23, 98, 148) inset 5px 5px 5px,
    rgb(23, 98, 148) 2px 2px 2px;
    border-radius: 15px;
    background-color: var(--background);
    padding: 1rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.card-header {
    box-shadow: rgb(23, 98, 148) inset 5px 5px 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid blue;
    background-color: var(--header);
    padding: 1rem 1.25rem;
}

.card-header > h5 {
    font-size: xxx-large;
    color: #1f2d38;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "iMWritingDuo Nerd Font Propo", sans-serif;
    color: #1f2d38;
    opacity: 1;
    text-shadow: hsla(245, 81%, 17%, 0.8) 1px 1px 35px;
    margin: 0;
}

.card-header > * {
    margin: 0;
}

.card-content {
    padding: 0 1rem;
}

.page-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading > * {
    margin: 0;
}

#pageContent {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(5, 1fr) repeat(4, 2fr);
    grid-template-rows: auto;
    grid-template-areas: "schedules schedules days events events metrics metrics metrics metrics"
                         "schedules schedules days events events metrics metrics metrics metrics"
                         "schedules schedules days events events metrics metrics metrics metrics"
                         "schedules schedules days events events metrics metrics metrics metrics"
                         "schedules schedules days events events metrics metrics metrics metrics";
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    border-radius: 0 0 15px 15px;
    margin-bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-top: 0.15rem var(--background) solid;
}

#pageContent > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formArea {
    padding-top: 0.7rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
    grid-auto-rows: auto;
    text-align: left;
}

.formInput {
    grid-column-start: 2;
    grid-column-end: 5;
}

.emailAddressInput {
    grid-column-start: 2;
    grid-column-end: 6;
}

input {
    background-color: white;
}

#createUserForm {
    grid-column-start: 4;
    grid-column-end: 8;
}

#editUserForm {
    grid-column-start: 4;
    grid-column-end: 8;
}

#loginForm {
    grid-column-start: 4;
    grid-column-end: 6;
}

.grid {
    grid-column-start: 3;
    grid-column-end: 9;
}

#createUserForm,
#editUserForm,
#loginForm {
    box-shadow: rgb(23, 98, 148) inset 2px 2px 2px,
    5px 5px 5px var(--accent);
    background-color: var(--background);
    padding: 0.5rem 1rem;
    border-top: 0.1rem solid var(--accent);
    border-left: 0.1rem solid var(--accent);
    text-align: left;
    text-size-adjust: 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addScheduleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
color: var(--new-accent);
}

#modal-add-schedule > article {
    padding: 0;
    margin: 0;
}

.dialogContent {
    background-color: var(--background-dialog);
    border: 3px solid var(--new-accent);
    border-radius: 15px;
    color: var(--new-accent);
}
dialog {
    min-width: 60vw;
    min-height: 60vh;
}
.secondary {
    color: ghostwhite;
    border: 3px solid ghostwhite;
    background-color: var(--secondary-color);
}


.content-section,
#app,
#pageContent {
    min-height: 75vh;
    max-width: 2140px;
    align-self: center;
}


#veggies, #kettlebell {
    border: .5rem solid var(--background);
    border-radius: 15px;
    margin: .4rem;
    width: 20rem;
}

#app {
    min-height: calc(1vh - 20%);
    display: flex;
    justify-content: center;
    min-width: calc(1vw - 20%);
    align-self: center;

}

ul > li {
    color: #1f2d3d;
}

.eventSection-hidden {
    visibility: hidden;
}

main .container-fluid:first-child {
    display: flex;
}


.dashboard-container {
    display: grid;
}

.schedule-day-list, .schedule-list {
    display: flex;
    flex-direction: column;
}

.schedule-list-item:hover, .schedule-day-list-item:hover {
    background-color: #1f2d38;
    color: var(--accent);
}

.schedule-day-list-item, .schedule-list-item {
    background-color: var(--header);
    list-style-type: none;
    padding: .5rem;
    margin: .25rem;
}

.schedule-day-list-item:focus, .schedule-day-list-item:active {
    transform: scale(1.05);
    background-color: #1f2d38;
    color: var(--accent);
}


#pageContent > article {
    margin: .25rem;
    padding: .5rem;
}

#Schedules > article > ul, #Days > article > ul, #Events > article > ul, #Metrics > article > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Schedules > article, #Days > article, #Events > article, #Metrics > article {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .25rem;
}

#Schedules {
    grid-area: schedules;
}

#Days {
    grid-area: days;
}

#Events {
    grid-area: events;
}

#Metrics {
    grid-area: metrics;
}


#modal-add-schedule > article > p, #modal-add-event > article > p {

    padding: .25rem;
    margin: .25rem;
}

#modal-add-schedule > article > footer, #modal-add-event > article > footer {
    padding: .5rem .25rem .25rem;
    margin: .25rem;
}

#modal-add-schedule > article > h3, #modal-add-event > article > h3 {
    margin: 0;
    padding: .25rem;
}

dialog > article {
    padding: .5rem .25rem;
    margin: .25rem;
}

dialog > article > .close {
    margin-top: calc(var(--block-spacing-vertical) * -.80);
}

.btn {
    background-color: var(--accent);
    color: #1f2d38;
    border: 1px solid #1f2d38;
    padding: .25rem;
    margin: 0;
}

.btn-group > input {
    background-color: var(--accent);
    color: #1f2d38;
    border: 1px solid #1f2d38

}

dialog > footer {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    margin: .25rem;
}


.btnGroup li:hover, .secondary:hover, .btn:hover, .btn-group > input:hover {
    background-color: #1f2d38;
    color: var(--accent);
    border: 1px solid var(--accent)
}

.btnGroup li.active, .secondary.active, .btn.active, .btn-group > input.active {
    background-color: #1f2d38;
    color: var(--accent);
    border: 1px solid var(--accent)
}

.btnGroup li:focus, .secondary:focus, .btn:focus, .btn-group > input:focus {
    background-color: #1f2d38;
    color: var(--accent);
    border: 1px solid var(--accent)
}

ul > li > p {
    margin: 0;
    padding: 0
}

ul > li > p:hover {
    color: var(--accent);
    margin: 0;
    padding: 0;
}

.btn-group > ul > .btn {
    margin: 0;
}

#metricChartCanvas {
    align-self: center;
}